includeBody=true

[OPENAI_COMPATIBILITY]
compatible=true
generate=2
model=gpt-5.3-codex-spark
url="${MY_CLI_LLM_PROXY_HOST}"
key=${MY_CLI_LLM_PROXY_API_KEY}
path=/v1
numCtx=100000
topP=0.9

[OPENAI3_COMPATIBILITY]
compatible=true
generate=2
model=gpt-5.6-luna
url="${MY_CLI_LLM_PROXY_HOST}"
key=${MY_CLI_LLM_PROXY_API_KEY}
path=/v1
numCtx=100000

[GEMINI]
disabled=true

[OPENAI]
disabled=true
