[color]
	ui = true
[user]
	name = {{ .name }}
	email = {{ .email }}

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	excludesfile = ~/.config/git/ignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	attributesfile = ~/.config/git/attributes

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false
	autocrlf = false
	hooksPath = ~/.config/git/hooks
	compression = 9
	preloadindex = true

[alias]
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
  cb = "!git branch --merged | egrep -v '(^\\*|master|production)' | xargs git branch -d"
	vb = version-bump
[push]
	default = current
	autoSetupRemote = true
	followTags = true
	recurseSubmodules = on-demand

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"
[url "git@github.com:{{ .github_login }}/"]
	insteadOf = "my:"
[diff "sopsdiffer"]
	textconv = sops -d
[diff]
	interHunkContext = 10
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red
	new = green
	whitespace = red reverse
[diff-so-fancy]
	first-run = false
[pull]
	rebase = false
	default = current
[rebase]
	missingCommitsCheck = warn
[log]
	abbrevCommit = true
[init]
	defaultBranch = main
	templateDir = ~/.config/git/template

[submodule]
	recurse = true

[worktree]
# unlock after https://github.com/JanDeDobbeleer/oh-my-posh/issues/7267 is fixed
useRelativePaths = true

{{ if eq .chezmoi.os "darwin" }}
[filter "plist"]
    clean = plutil -convert xml1 -o - %f
[diff "plist"]
    textconv = plutil -convert xml1 -o -
{{ end }}

{{ if eq .github_login "kvokka" }}
[includeIf "gitdir:**/cat/"]
    path = ~/.config/git/config-checkeatrade

[includeIf "gitdir:**/*checkatrade*/"]
    path = ~/.config/git/config-checkeatrade
{{ end }}

[includeIf "gitdir:{{ .chezmoi.workingTree }}/**"]
    path = ~/.config/git/config-chezmoi
