#!/usr/bin/env zsh

set -eufo pipefail

{{ $taps := list "atlassian/homebrew-acli" }}{{/* Rovodev */}}

{{ $brews := list
  "git"
  "curl"
  "wget"
  "zsh"
  "coreutils"
  "mise"
  "htop"
  "ncdu"
  "tree"
  "diff-so-fancy"
  "tig"
  "gnupg"
  "make"
  "docker-credential-helper"
  "aicommit2"
}}

{{ $brews = append $brews "libyaml" }}{{/* implicit Ruby 3.3-3.4 dependency */}}
{{ $brews = append $brews "atlassian/acli/acli" }}{{/* Rovodev */}}

{{ if eq .chezmoi.os "darwin" -}}
  {{ $brews = append $brews "dockutil" }}
{{- end }}

{{/* "font-meslo-lg-nerd-font" used with from p10k, font `MesloLGM NF` */}}
{{/* "font-fira-code-nerd-font" used with oh-my-posh, font `MesloLGM Nerd Font` */}}
{{ $casks := list
  "google-chrome"
  "visual-studio-code"
  "font-meslo-lg-nerd-font"
  "font-fira-code-nerd-font"
}}

{{ if eq .chezmoi.os "darwin" -}}
  {{ $casks = append $casks "iterm2" }}
{{- end }}

{{ if .personal -}}
  {{/* $casks = append $casks "docker"; Skip install docker-desktop. TODO: Replace with podman */}}

  {{ if eq .chezmoi.os "darwin" -}}
    {{ $taps := append $taps "nguyenphutrong/tap" }}
    {{ $casks = append $casks "quotio" }}
  {{- end }}

  {{ $casks = append $casks "whatsapp" }}
  {{ $casks = append $casks "telegram" }}
  {{ $casks = append $casks "vlc" }}
  {{ $casks = append $casks "calibre" }}
  {{ $casks = append $casks "firefox" }}
  {{ $casks = append $casks "transmission" }}
  {{ $casks = append $casks "veracrypt" }}
  {{/* $casks = append $casks "grammarly-desktop" */}}
{{- end }}

command -v compaudit &> /dev/null && compaudit | xargs chmod g-w
source ~/.zsh/homebrew.zsh

# taps are not respected in the bundle
{{ range ($taps | sortAlpha | uniq) }}
brew tap "{{ . }}"
{{ end }}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) }}
brew "{{ . }}"
{{ end }}
{{ if not .headless }}
{{ range ($casks | sortAlpha | uniq) }}
cask "{{ . }}"
{{ end }}
{{ end }}
EOF
