export OPENCLAW_TOKEN=
export MY_CLI_LLM_PROXY_API_KEY=

# search provider
export BRAVE_API_KEY=

# STT
export GROQ_API_KEY=
# STT + imagen fallbacks
export GEMINI_API_KEY=

# telegram
export OPENCLAW_TELEGRAM_BOT_TOKEN=
export OPENCLAW_TELEGRAM_OWNER_ID=
