# optional GitHub PAT with public access to increace download quota for packages installation
export MISE_GITHUB_TOKEN=github_pat...

# Quotio GUI App API Key for CLI Proxy access
export QUOTIO_PROXY_API_KEY=quotio-local-...

# https://context7.com/ api key
export CONTEXT7_API_KEY=abc...

# https://brave.com/search/api/ api key
BRAVESEARCH_API_KEY=abc...
