export ZSH="$HOME/.oh-my-zsh"

[[ -d "${HOMEBREW_PREFIX:-}/share/zsh-completions" ]] && FPATH="${HOMEBREW_PREFIX}/share/zsh-completions:$FPATH"

plugins+=(
{{- range .zshPlugins }}
  {{ . }}
{{- end }}
)

ZSH_AUTOSUGGEST_STRATEGY=(history completion)

autoload -Uz compinit
compinit

source $ZSH/oh-my-zsh.sh
