model = "gpt-5.4"
model_reasoning_effort = "xhigh"
approval_policy = "never"
sandbox_mode = "danger-full-access"
web_search = "cached"
file_opener = "vscode"

model_provider = "myproxy"

[model_providers.myproxy]
# Have to use chezmoi interpolation since it does not support it from env var
base_url = "{{ .localLLMProxyUrl }}"

name = "My Proxy for Codex"
wire_api = "responses"

env_key = "MY_CLI_LLM_PROXY_API_KEY"

[history]
persistence = "save-all"
max_bytes = 104857600 # 100 MiB

[projects."/workspace"]
trust_level = "trusted"

[projects."/home/ubuntu/proj/active/"]
trust_level = "trusted"

[tui]
# Send desktop notifications when approvals are required or a turn completes.
# Defaults to false.
notifications = true
status_line = [
  "model-with-reasoning",
  "context-remaining",
  "current-dir",
  "weekly-limit",
]

[analytics]
enabled = false

[feedback]
enabled = false

[features]
multi_agent = true
search_tool = true
fast_mode = true

[agents]
max_threads = 10
max_depth = 2
job_max_runtime_seconds = 1800

[tools]
view_image = true
