{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   $unknown_laptop := true -}}{{/* true if no known laptops detected */}}
{{-   if eq .chezmoi.hostname "Mikes-MacBook-Pro" -}}
{{-     $personal = true -}}
{{-     $headless = false -}}
{{-     $ephemeral = false -}}
{{-     $unknown_laptop = false -}}
{{-   else if and $interactive $unknown_laptop -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "kvokka" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Initializes the github_login variable with a default value */ -}}
{{- $github_login := "kvokka" -}}
{{- /* If github_login was previously set, reuses it */ -}}
{{- if hasKey . "github_login" -}}
{{-   $github_login = .github_login -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $github_login = promptString "github_login" $github_login -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "kvokka@yahoo.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_login: {{ $github_login | quote }}
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  personal: {{ $personal }}

  zshPlugins:
    - "mise"
    - "cp"
    - "docker"
    - "dotenv"
    - "gem"
    - "git"
    - "github"
    - "golang"
    - "kubectl"
    - "npm"
    - "rails"
    - "rake"
    - "ruby"
    - "sudo"
    - "tig"
    - "yarn"
    - "poetry"
    - "pre-commit"
    - "zsh-navigation-tools"
    - "helm"
    - "zsh-autosuggestions"
    - "zsh-syntax-highlighting"
