brew 'git'
brew 'curl'
brew 'wget'
brew 'zsh'
brew 'coreutils' # Brew includes them, but the version is way too old

brew 'pre-commit'
brew 'markdownlint-cli2'

brew 'bat'
brew 'htop'
brew 'ncdu'
brew 'tree'
brew 'diff-so-fancy'
brew 'fd'
brew 'ripgrep'
brew 'shellcheck'
{{ if or (ne .chezmoi.os "linux") (ne .chezmoi.arch "arm64") }}
brew 'docker' #no #TODO: Replace with podman
brew 'podman'
brew 'fzf'
{{ end }}

{{ if not .headless }}
# TODO: Move it in the main group after brew 4.5 release
brew 'asdf'

cask 'calibre'
cask 'firefox'
cask 'transmission'
cask 'visual-studio-code'
cask 'font-hack-nerd-font'
cask 'docker'
{{ end }}
## legacy 2APR25
# brew 'bash-completion'
# brew 'txn2/tap/kubefwd'
# brew 'archey'
# brew 'dos2unix'
# brew 'cmake'
# brew 'eza'
# brew 'gawk'
# brew 'git-lfs'
# brew 'gnupg2'
# brew 'gnutls'
# brew 'hadolint'
# brew 'llvm'
# brew 'nmap'
# brew 'openvpn'
# brew 'testssl'
# brew 'trash'
