if [[ $(date +%Y%m%d) -ge 20260308 ]]; then
    echo -e "\033[1;31m" >&2
    echo "┌──────────────────────────────────────┐" >&2
    echo "│       THIS IS DEPRECATED             │" >&2
    echo "│   STOP USING IT AFTER 7 MAR 2026     │" >&2
    echo "│   Use new-thing instead              │" >&2
    echo "└──────────────────────────────────────┘" >&2
    echo -e "\033[0m" >&2
fi
source ~/.zsh/homebrew.zsh
source ~/.zsh/alias_devc.zsh
source ~/.zsh/alias_gemini_account_switcher.zsh
# -----------------------------

source ~/.config/zshrc.d/*.zsh

export ZSH="$HOME/.oh-my-zsh"

eval "$(mise activate zsh)"

{{ if .ephemeral }}
{{ if eq .chezmoi.os "linux" }}
if [[ "$USER" == "vscode" ]]; then
  if [ "$(stat -c '%U:%G' /var/run/docker.sock)" != "root:docker" ]; then
    DOCKER_GID=999
    sudo groupadd -g ${DOCKER_GID} docker &>/dev/null
    sudo chown root:docker /var/run/docker.sock
    sudo usermod -aG docker vscode
  fi
fi
{{ end }}
{{ end }}

if [[ "$TERM_PROGRAM" == "vscode" ]]; then
  code --version &>/dev/null && . "$(code --locate-shell-integration-path zsh)" || true
  cursor --version &>/dev/null && . "$(cursor --locate-shell-integration-path zsh)" || true
fi

command -v brew >/dev/null 2>&1 && FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

plugins+=(
{{- range .zshPlugins }}
  {{ . }}
{{- end }}
)

ZSH_AUTOSUGGEST_STRATEGY=(history completion)

autoload -Uz compinit
compinit

eval "$(zoxide init zsh)" # Must be after compinit

source $ZSH/oh-my-zsh.sh

for item in ~/.secrets/home/*(N) ~/.secrets/home/.^*(N); do [[ -e $item ]] || continue; ln -sf "$item" ~; done
[ -f ~/.secrets/shared/.env ] && source ~/.secrets/shared/.env

{{ if not .headless }}
{{ if eq .chezmoi.os "darwin" }}
[[ "$TERM_PROGRAM" == "iTerm.app" ]] && [[ -f ~/.iterm2_shell_integration.zsh ]] && source ~/.iterm2_shell_integration.zsh

export PATH="$PATH:/Applications/Docker.app/Contents/Resources/bin/"
{{ end }}
{{ end }}

[[ "$TERM_PROGRAM" == "Apple_Terminal" ]] || eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh/config.yaml)"
source ~/.zsh/oh_my_zsh_context.zsh

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias gcane='git commit --amend --no-edit'

alias docker_clean_images='docker rmi $(docker images -a --filter=dangling=true -q)'
alias docker_clean_ps='docker rm $(docker ps --filter=status=exited --filter=status=created -q)'

kill_process(){ps -aux | grep $1 | awk '{print $2}' | xargs kill -9 }

alias tmp='mkdir -p tmp && cd tmp'

alias gsha='git rev-parse HEAD'
alias gcom='git checkout master'
alias ag='aicommit2'

alias brave_debug="open -a 'Brave Browser' --args --remote-debugging-port=9222"
