brew 'git'
brew 'curl'
brew 'wget'
brew 'zsh'
brew 'coreutils' # Brew includes them, but the version is way too old
brew 'mise'

brew 'htop'
brew 'ncdu'
brew 'tree'
brew 'diff-so-fancy'
brew 'docker-credential-helper'

tap 'atlassian/homebrew-acli'
brew 'acli'

{{ if or (ne .chezmoi.os "linux") (ne .chezmoi.arch "arm64") }}
brew 'docker' #no #TODO: Replace with podman
{{ end }}

{{ if not .headless }}
cask 'calibre'
cask 'firefox'
cask 'transmission'
cask 'visual-studio-code'
cask 'font-meslo-lg-nerd-font'
cask 'docker'
cask 'vlc'
{{ if eq .chezmoi.os "darwin" }}
cask 'iterm2'
{{- end }}
{{- end }}
## legacy 2APR25
# brew 'bash-completion'
# brew 'txn2/tap/kubefwd'
# brew 'archey'
# brew 'dos2unix'
# brew 'cmake'
# brew 'eza'
# brew 'gawk'
# brew 'git-lfs'
# brew 'gnupg2'
# brew 'gnutls'
# brew 'hadolint'
# brew 'llvm'
# brew 'nmap'
# brew 'openvpn'
# brew 'testssl'
# brew 'trash'
