export EDITOR="code -w"
export HOMEBREW_NO_AUTO_UPDATE=1
export DISABLE_AUTO_UPDATE="true"
export HOMEBREW_NO_ENV_HINTS=1
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
{{ if eq .chezmoi.os "darwin" }}
export QUOTIO_PROXY_URL=http://127.0.0.1:8317
{{- else }}
export QUOTIO_PROXY_URL=http://host.docker.internal:8317
{{- end }}
export QUOTIO_PROXY_FULL_URL=$QUOTIO_PROXY_URL/v1
export AICOMMIT_CONFIG_PATH=$HOME/.config/aicommit2/config.ini

[ -f ~/.sectets/shared/.env ] && source ~/.sectets/shared/.env
