{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else }}
echo "Error: Homebrew not supported on OS: {{ .chezmoi.os }} Arch: {{ .chezmoi.arch }}" && exit 1
{{ end }}
