[env]

[tools]

nodejs = '24.11'
python = '3.14'
uv = '0.9'
just = '1.43'
hadolint = '2.14'
shellcheck = '0.11'
gitleaks = '8.30'
chezmoi = '2.69'
bat = '0.26'
fzf = '0.67'
fd = '10.3'
jq = '1.8'
ripgrep = '15.1'
prek = '0.3'
ruff = '0.14'
biome = '2.3'
ty = '0.0.9'
rumdl = '0.0.206'
gemini = '0.22'
codex = '0.79'
bun = '1.3'
opencode = '1.1'
direnv = '2.37'
oh-my-posh = '29.1'
zoxide = '0.9'

{{ if not .headless }}
ruby = '3.4'
dive = '0.13'
podman = '5.5'
terraform = '1.13'
golang = '1.25'
cosign = '2.5'
helm = '3'
helm-diff = '3'
{{ end }}

# # # # # # extras
# rust = '1'
# kubectl = '1.31'
# kubeseal = '0.28'
# k9s = '0.40'
# git-cliff = '2.8'

[settings]

{{ if .ephemeral }}
yes = true
{{ end }}

idiomatic_version_file_enable_tools = ["python", "ruby"]


{{- $paths := list }}

{{- if .personal }}
{{-   $paths = append $paths (joinPath .chezmoi.homeDir "proj/devcontainer") }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
{{-   $paths = append $paths "/workspace" -}}
{{- end }}

trusted_config_paths = [{{ if $paths }}
{{- range compact $paths }}
  "{{ . }}",
{{- end }}
{{- end }}
]
