[env]

[tools]

nodejs = '24.5'
python = '3.13'
golang = '1.24'
yarn = ['4.9.1']
uv = '0.7'
just = '1'
hadolint = '2.12'
shellcheck = '0.10'
markdownlint-cli2 = '0.18.1'
gitleaks = '8.27'
cosign = '2.5'
chezmoi = '2.63'
bat = 'latest'
pre-commit = '4.2'
fzf = '0.64.0'
fd = '10.2.0'
jq = '1.8'
ripgrep = '14.1.1'
{{ if not .headless }}
ruby = '3.4'
dive = '0.13'
podman = '5.5'
{{ end }}

# # # # # # extras
# rust = '1'
# terraform = '1.11'
# kubectl = '1.31'
# kubeseal = '0.28'
# k9s = '0.40'
# helm = '3.15'
# helm-diff = '3.12'

{{ if eq .chezmoi.arch "arm64" -}}
# "asdf:jylenhof/asdf-git-cliff" = '2.8'
{{- else -}}
# git-cliff = '2.8'
{{- end }}

[settings]

{{ if .ephemeral }}
yes = true
{{ end }}

idiomatic_version_file_enable_tools = ["python", "ruby"]
