[env]

[tools]

nodejs = '24.11'
python = '3.14'
uv = '0.9'
just = '1.43'
hadolint = '2.14'
shellcheck = '0.11'
markdownlint-cli2 = '0.18.1'
gitleaks = '8.30'
chezmoi = '2.67'
bat = '0.26'
pre-commit = '4.5'
fzf = '0.67'
fd = '10.3'
jq = '1.8'
ripgrep = '15.1'
{{ if not .headless }}
ruby = '3.4'
dive = '0.13'
podman = '5.5'
terraform = '1.13'
golang = '1.25'
yarn = ['4.12']
cosign = '2.5'
{{ end }}

# # # # # # extras
# rust = '1'
# kubectl = '1.31'
# kubeseal = '0.28'
# k9s = '0.40'
# helm = '3.15'
# helm-diff = '3.12'
# git-cliff = '2.8'

[settings]

{{ if .ephemeral }}
yes = true
{{ end }}

idiomatic_version_file_enable_tools = ["python", "ruby"]
