name: ci

on:
  push:
    # The smoke test is testing only chezmoi config, this elliminates waste of resources
    paths:
    - .github/workflows/**
    - homedir/.chezmoiscripts/**
    - homedir/.chezmoi*
    - .chezmoi*
    - bootstrap.sh
  pull_request:

jobs:
  clone-and-install:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/vscode/devcontainers/base:ubuntu-24.04
      env:
        CODESPACES: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: "./bootstrap.sh"
      - run: "tree -a -L 2 $HOME"
      - name: smoke test
        run: |
          ~/.local/share/mise/shims/chezmoi --version
          ~/.local/share/mise/shims/chezmoi data
